.bobaPlace {
  margin: 5vw;
  padding: 3vw;
  border: 1px solid #D9D9D9;
  border-radius: 2vw;
  position: relative;
  color: black;
}

.top {
  top: 2vw;
  position: relative;
  z-index: 2;
}

.filterDropdown {
  width: 20%;

}

.searchAgain {
  left: auto;
  right: auto;
  width: 40%;
}


.cards {
  margin-top: 10vw;
}

#drink_rating {
  position: absolute;
  top: 1vw;
  right: 3vw;
}

#place_name {
  font-size: 20px;
}
