.bobaPlace {
  margin: 5vw;
  padding: 3vw;
  border: 1px solid #D9D9D9;
  border-radius: 2vw;
  position: relative;
  color: black;
}

.top {
  margin-top: 2vw;
  z-index: 2;
  margin-left: 10vw;
  display: grid;
  grid-template-areas: "filters search";
  grid-template-columns: 40vw 1fr; 
}

.searchAgainBar {
  grid-area: search;
  display: grid;
  grid-template-areas: "form button";
  grid-template-columns: 1fr 10vw;
}

.searchAgainForm {
  grid-area: form;
  width: 400px;
  margin-right: 20px;
}

.searchAgainButton {
  grid-area: button;
}

.filterDropdown {
  width: 30%;
  grid-area: filters;
  justify-self: center;
}

.searchAgain {
  left: auto;
  right: auto;
  width: 40%;
}


.cards {
  margin-top: 10vh;
}

.noResults {
  margin-top: 10vh;
  text-align: center;
  font-size: 2vw;
}

#drink_rating {
  position: absolute;
  top: 1vw;
  right: 3vw;
}

#place_name {
  font-size: 20px;
}
