$font: 2vw;

.Header {
  width: 100%;
  background-color: #C7EBDE;
  display: grid;
  grid-template-areas: "title buttons";
  grid-template-columns: 20vw 1fr;
  height: 8vh;

  .title-box {
    text-decoration: none;
    align-self: center;
  }

  .title {
    grid-area: title;
    font-size: $font;
    margin-left: 5vw;
  }

  .buttons {
    grid-area: buttons;
    align-self: center;
    margin-left: 80%;
  }
}
