.review-section {
  width: 40%;
  margin-top: 5%;
}
.dropdown {
  margin-bottom: 3%;
}

.WriteReview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row {
  margin-top: 2vw;
}

#review-title {
  font-size: 20px;
}
