$font: 2.5vw;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.Header {
  width: 100%;
  background-color: #c7e9eb;
  display: grid;
  grid-template-areas: "titleBox buttons";
  grid-template-columns: 30vw 1fr;
  height: 10vh;

  .title-box {
    text-decoration: none;
    align-self: center;
    grid-area: titleBox;
    display: grid;
    grid-template-areas: "logo title";
    grid-template-columns: 7vw 1fr;
  }

  .logo {
    width: 3vw;
    height: 10vh;
    margin-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .title {
    font-family: 'Josefin Sans', cursive;
    align-self: center;
    font-size: $font;
    color: black;
  }

  .buttons {
    grid-area: buttons;
    align-self: center;
    margin-left: 80%;
  }

  .username{
        
  }
}
