$font: 4vw;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.Header {
  width: 100%;
  background-color: #C7EBDE;
  display: grid;
  grid-template-areas: "title buttons";
  grid-template-columns: 20vw 1fr;
  height: 8vh;

  .title-box {
    text-decoration: none;
    align-self: center;
  }

  .title {
    font-family: 'Josefin Sans', cursive;
    grid-area: title;
    font-size: $font;
    margin-left: 5vw;
    color: black;
  }

  .buttons {
    grid-area: buttons;
    align-self: center;
    margin-left: 80%;
  }

  .username{
        
  }
}
