$font: 2.5vw;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.Header {
  width: 100%;
  background-color: #c7e9eb;
  display: grid;
  grid-template-areas: "titleBox userProfile";
  grid-template-columns: 30vw 1fr;
  height: 8vh;
  position: relative;

  .title-box {
    text-decoration: none;
    align-self: center;
    grid-area: titleBox;
    display: grid;
    grid-template-areas: "logo title";
    grid-template-columns: 8vw 1fr;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vw;
  }

  .title {
    font-family: 'Josefin Sans', cursive;
    align-self: center;
    font-size: 25px;
    color: black;
    margin-left: 40px;
  }

  .userProfile {
    grid-area: userProfile;
    align-self: center;
    display: grid;
    grid-template-areas: "username buttons";
    grid-template-columns: 1fr 10vw;
  }

  .username {
    grid-area: username;
    align-self: center;
    justify-self: end;
    margin-right: 2vw;
    font-family: 'Josefin Sans', cursive;
  }

  .buttons {
    grid-area: buttons;
  }

  .options {
    display: block;
    left: auto;
    top: auto;
  }

  ul {
    list-style: none;
    margin-right: 5vw;
    position: absolute;
  }
  
  li {
    padding: 0.5vw;
  }
  
  li:hover {
    background-color: #d6d6d6;
    cursor: pointer;
  }
}
