.search-bar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas: "form button";
  grid-template-columns: 1fr 10vw;
}

.search-form {
  grid-area: form;
  width: 400px;
  margin-right: 20px;
}

.ui.color2.button {
  background-color: #9EDEE1;
  color: #fff;
}

.ui.color2.button:hover {
  background-color: #80C6C9 !important;
  color: #fff!important;
}
