#goBack {
  position: relative;
  margin-left: 5vw;
  margin-top: 5vw;
}

.placeInfo, #menuList, #menuReview {
  margin: 5vw;
  padding: 3vw;
  border: 1px solid #D9D9D9;
  border-radius: 2vw;
  position: relative;
}

.reviewLog {
  color: #e64545;
}

