#goBack {
  position: relative;
  margin-left: 5vw;
  margin-top: 5vw;
}

.placeInfo, #menuList, #menuReview {
  margin: 7vw;
  padding: 3vw;
  border: 1px solid #D9D9D9;
  border-radius: 2vw;
  position: relative;
}

.reviewLog {
  color: #e64545;
}
#placeName {
  font-size: 20px;
}
.menuRow {
  margin-bottom: 15px;
  padding-left: 5%;
}

.singleMenu {
  width: 90%;
}

#reviewButton {
  background-color: #9EDEE1;
  color: #fff;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
}

#reviewButton:hover {
  background-color: #80C6C9 !important;
  color: #fff!important;
}
